.basic-structure{
    position: relative;
    background-color: #87CEEB;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-image{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('https://cdn.pixabay.com/photo/2021/02/03/23/09/operating-room-5979687_1280.jpg');
    background-size: cover;
    opacity: 0.15;
}
.homepage-image{
    position: absolute;
 top: 20p;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('https://cdn.pixabay.com/photo/2021/02/03/23/09/operating-room-5979687_1280.jpg');

    opacity: 0.1;
    pointer-events: none;
}
.form-details{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.basic-button{
    background-color: #87CEEB;
    color: 'black';
    border: 2px solid black;
    border-radius: '10px';
    padding: '10px 20px';
    font-size: '15px';
    font-weight: 'bold';
    cursor: 'pointer';
    outline: 'none';
    width: '100%';
    margin-top: '30px';
}
.Heading-details{
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 7px;
}
.horizontal-line{
    width: 100%;
 border: 2px solid black;
 margin-top: 10px;
}
.margin-top{
    margin-top: 5px;
}
.bold-input{
    font-weight: bold;
    margin-bottom: 10px;
}
.Health-data{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

